﻿@* jumbotron, header kodu (Partial View, razor view empty)*@
<div class="bg-light p-5">
    <div class="container">
        <h1 class="display-4">Başlık</h1> @*web sayfasının amacını bildiren baslık*@
        <p class="lead">Açıklama</p>
    </div>
</div>