<h2>Forgot Password</h2>
<hr />

<form asp-controller="account" asp-action="forgotpassword" method="post">
	<h5>Enter Your E-Mail Address:</h5>
	<div class="mb-3 form-floating">
		<input name="Email" type="email" class="form-control" placeholder="Email"/>
		<label for="Email">E-Mail</label>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>