@model SongsViewModel

<h1>Song List</h1>
<div id="songs">
	@if (Model.Songs.Count() > 0) //şarkı listesinin ici doluysa, şarkı varsa;
	{
		<div class="row row-cols-1 row-cols-md-4 g-4">
		@foreach (var song in Model.Songs) //model. dedigimizde songs veya genres cikiyor
		{
			@await Html.PartialAsync("_song",song)
		}
		</div>
	}
	else
	{
		<div class="alert alert-warning" role="alert">
			No Song Found
		</div>
	}

</div>

@section _genrelist 
{
	@await Component.InvokeAsync("Genres")
}